<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyBillards.Properties.Settings.dbQuanLyBillardsConnectionString"
            connectionString="Data Source=KHANHNQ\SQLEXPRESS;Initial Catalog=QuanLyBillards;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyBillards.Properties.Settings.DatabaseBilliardConnectionString"
            connectionString="Data Source=SANG\SANGDEV;Initial Catalog=DatabaseBilliard;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
